body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.user {
	height: 400px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #ECB365;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.choices__list--dropdown .choices__list {
    max-height: 150px;
}

#recorder .choices__list--dropdown .choices__list {
    max-height: 50px;
}


.choices__list--dropdown .choices__item {
    position: relative;
    padding: 4px;
    font-size: 13px;
}

.choices__list--multiple .choices__item {
	background-color: #1B4560;
	border: #092231;
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
	border-left: #092231;
}

.logo {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #064663;
	padding: 10px;
	text-align: center;
}

.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}

.form_container {
	margin-top: 100px;
}

.login_btn {
	width: 100%;
	background: #04293A;
	color: white;
}

.login_btn:focus {
	box-shadow: none;
	outline: 0px;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: #04293A;
	color: white;
	border: 0;
}

#pdf {
	font-size: x-small;
}

input[type='checkbox'] {
	display: none;
}

.lbl-toggle {
	display: block;
	font-weight: bold;
	font-size: 1.3rem;
	text-align: left;
	padding: 1rem;
	color: #064663;
	background: #ECB365;
	cursor: pointer;
	border-radius: 7px;
	transition: all 0.25s ease-out;
	letter-spacing: 2px;

}

.lbl-toggle:hover {
	color: #7C5A0B;
}

.lbl-toggle::before {
	content: ' ';
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: 0.7rem;
	transform: translateY(-2px);
	transition: transform 0.2s ease-out;
}

.collapsible-content .content-inner {
	background: rgba(235, 177, 91, 0.2);
	border-bottom: 1px solid rgba(128, 126, 119, 0.45);
	border-top: 1px solid rgba(128, 126, 119, 0.45);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 1rem 1rem;
	padding-bottom: 1rem;
	height:100%;
}


.collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.25s ease-in-out;
}

#location, #start_time, #end_time {
	width:300px;
	height: 40px;
	text-align: center;
	height:1,2rem;
	margin-bottom: 1rem;
}

#protocol_date {
	width:300px;
	height:40px;
	padding-left: 7rem;
	padding-bottom:0,5rem;
	height:1,2rem;
	margin-bottom: 1rem;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
	max-height: 100%;
}

.toggle:checked+.lbl-toggle+.collapsible-content1 {
	max-height: 100%;
}

.toggle:checked+.lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}

.toggle:checked+.lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#participants, #absent {
	width: 400px;
	height: 40px;
}


#participantss > div > div.choices__list.choices__list--dropdown {
	top: -150px;
}

#absentt > div > div.choices__list.choices__list--dropdown {
	top: -150px;
}


#status {

	width: 150px;
	font-size: 16px;
	border: 2px solid #2a627c;
	height: 34px;
	padding-left:40px;
	margin-left: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


#welcome {
	font-size: 40px;
	color: #2a627c;
	text-align: center;
	font-weight: 500;
	text-shadow: rgb(156, 143, 89) 1px 0 10px;
}

#protocol {
	margin-left: 10px;	
	font-size: 25px;
	color: #064663;
	font-weight: 500;
}

#date_range {
	font-size: 20px;
	color: rgb(83, 70, 70);
	font-weight: 400;
}

#change_status {
	margin-left: 300px;
}

.row {
	padding: 5px;
}


#form {
	padding-top: 10px;
}

#editor-container-team1,
#editor-container-team2 {
	min-height: 200px;
	height: 100%;
}

#editor-container-individual {
	min-height: 200px;
	height: 100%;
}

#editor-container-general, #editor-container-requests, #editor-container-announcements{
	min-height: 60px;
	height: 100%;
}

h5 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #064663;
}
h6 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #064663;
}

#recorder,
#moderator {
	width: 150px;
}

#general_news {
	min-height: 100px;
	max-height: 100%;
	border:1px solid black;
	border-radius: 3px;
	padding: 5px;
}

#displayDate, #displayLocation, #displayStartTime, #displayEndTime, #displayModerator, #displayRecorder {
	box-sizing: border-box;
	border: 2px solid #CCCCCC;
	width: 50%;
	padding: 4px;
	font-size: 20px;
	font-weight: 300;
	border-radius: 10px;
	text-align: center;


  }
   #displayParticipants, #displayAbsentees{
	box-sizing: border-box;
	border: 2px solid #CCCCCC;
	width: 100%;
	padding: 4px;
	font-size: 20px;
	font-weight: 300;
	border-radius: 10px;	
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  label {
	  font-weight: bold;
	  color: #064663;
	  font-size:20px;
  }

  #editor-container-news1, #editor-container-requests1, #editor-container-announcements1 {
	  box-sizing: border-box;
	  min-height: 60px;
	  width: 100%;
	  height: 100%;
	  border: 2px solid #CCCCCC;
	  border-radius: 10px;
	  margin-right: 15px;
	  padding-left: 15px;
	  padding-top: 5px;
  }

  .btn-outline-light {
    border-color: #CCCCCC;
}

#editor-container-team1-1, #editor-container-team2-2 {
	box-sizing: border-box;
	min-height:100px;
	  width: 100%;
	  height: 100%;
	  border: 2px solid #CCCCCC;
	  border-radius: 10px;
	  margin-right: 15px;
	  padding-left: 15px;
	  padding-top: 5px;
}

#forward, #backward {
	background-color: transparent;
	border: 0px;
}

button {
	background-color: transparent;
	border:0px;
	margin: 1px;
}



